<div class="track" [class]="config.colorScheme" [ngClass]="{'muted': config.mute, 'soloed': config.solo}">
  <p class="track-name" *ngIf="!nameEditable" (click)="enableNameEdit()">{{config.name}}</p>
  <div *ngIf="nameEditable">
    <input type="text" class="form-control" [(ngModel)]="config.name" (blur)="disableNameEdit()" />
  </div>
  <div>
    <input type="checkbox" class="btn-check" [id]="'btn-mute' + config.name" [(ngModel)]="config.mute" (change)="muteTrack()"/>
    <label class="btn btn-outline-danger" [for]="'btn-mute' + config.name">m</label>
  </div>
  <div>
    <input type="checkbox" class="btn-check" [id]="'btn-solo' + config.name" [(ngModel)]="config.solo" (change)="soloTrack()"/>
    <label class="btn btn-outline-warning" [for]="'btn-solo' + config.name">s</label>
  </div>
  <!--<button class="btn btn-danger" (click)="muteTrack()">m</button>-->
  <!--<button class="btn btn-warning" (click)="soloTrack()">s</button>-->
  <select class="form-select" [(ngModel)]="config.frequency">
    <option *ngFor="let note of notes" [value]="note">{{note}}</option>
  </select>

  <div class="steps">
    <div *ngFor="let step of config.steps; let i = index" class="step" [class]="{'playing': i === activeStepNumber && playing, 'armed': step.enabled}">
      <input type="checkbox" class="btn-check" [id]="'btn' + config.name + i" [(ngModel)]="step.enabled" />
      <label class="btn btn-outline-info" [for]="'btn' + config.name + i">&nbsp;</label>
    </div>
  </div>
</div>
<div class="track-editor" *ngIf="nameEditable">
  <div>
    <button class="btn btn-sm btn-success"><i class="bi bi-0-circle"></i></button>
    <select class="form-select form-select-sm" [(ngModel)]="synth.oscillator.type" (ngModelChange)="config.oscillator.type = $event">
      <option *ngFor="let type of ['sine', 'triangle', 'square', 'sawtooth']" [value]="type">{{type}}</option>
    </select>
    <label class="form-label col-form-label-sm">Volume</label>
    <input type="range" class="form-range" [(ngModel)]="synth.oscillator.volume.value" min="-20" max="1" step="1" (ngModelChange)="config.oscillator.volume = $event" />
    <label class="form-label col-form-label-sm">Attack</label>
    <input type="range" class="form-range" [(ngModel)]="synth.envelope.attack" min="0.01" max="1" step=".01" (ngModelChange)="config.oscillator.envelope.attack = $event" />
    <label class="form-label col-form-label-sm">Decay</label>
    <input type="range" class="form-range" [(ngModel)]="synth.envelope.decay" min="0.01" max="1" step=".01" (ngModelChange)="config.oscillator.envelope.decay = $event" />
    <label class="form-label col-form-label-sm">Sustain</label>
    <input type="range" class="form-range" [(ngModel)]="synth.envelope.sustain" min="0.01" max="1" step=".01" (ngModelChange)="config.oscillator.envelope.systain = $event" />
    <label class="form-label col-form-label-sm">Release</label>
    <input type="range" class="form-range" [(ngModel)]="synth.envelope.release" min="0.01" max="1" step=".01" (ngModelChange)="config.oscillator.envelope.release = $event" />
  </div>
  <div style="display: flex;
      justify-content: space-between;
      align-items: center;">
    <div *ngFor="let step of config.steps;">
      <select class="form-select form-select-sm" [(ngModel)]="step.duration">
        <option [ngValue]="'1n'">1n</option>
        <option [ngValue]="'2n'">2n</option>
        <option [ngValue]="'4n'">4n</option>
        <option [ngValue]="'8n'">8n</option>
        <option [ngValue]="'16n'">16n</option>
        <option [ngValue]="'32n'">32n</option>
      </select>
    </div>
  </div>
</div>
