<div class="container">
  <div class="row mb-4">
    <div class="col-6">
      <label class="form-label">BPM</label>
      <input type="text" [(ngModel)]="bpm" class="form-control" />
    </div>
    <div class="col-6">
      <label class="form-label">Tempo</label>
      <select class="form-select" [(ngModel)]="tempo">
        <option [ngValue]="'1n'">1n</option>
        <option [ngValue]="'2n'">2n</option>
        <option [ngValue]="'4n'">4n</option>
        <option [ngValue]="'8n'">8n</option>
        <option [ngValue]="'16n'">16n</option>
        <option [ngValue]="'32n'">32n</option>
      </select>
    </div>
  </div>


  <ins-track *ngFor="let track of tracks; let i = index" [activeStepNumber]="activeStepNumber" [playing]="playing" [config]="track" [synth]="synths[i]" [ngClass]="{'muted': track.mute, 'soloed': track.solo}" [class]="track.colorScheme" (soloed)="trackSoloed($event)"></ins-track>
  <button class="btn btn-success" (click)="play()">Play</button>
  <button class="btn btn-danger" (click)="stop()">Stop</button>
  <button class="btn btn-primary" (click)="save()">Save</button>
  <button class="btn btn-primary" (click)="load()">Load</button>
  <button class="btn btn-warning" (click)="resetTracks()">Reset</button>
  <button class="btn btn-success" (click)="randomize()">RANDOM!</button>
</div>
