@import "bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";

$orange: #dc8226;
$yellow: #dcc426;
$yellow-green: #93dc26;
$green: #26dc2f;
$green-blue: #26dcab;
$teal: #26bbdc;
$blue: #2675dc;
$dark-blue: #3e26dc;
$violett: #9326dc;
$magenta: #dc2693;
$red: #dc264c;
$red2: #dc5626;

@mixin track ($color) {
  .track-name, .form-select, .form-control {
    color: $color !important;
    border-color: $color !important;
  }

  input[type="range"]::-webkit-slider-thumb {
    background-color: $color !important;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    background-color: darken($color, 33) !important;
  }

  .form-label {
    color: $color !important;
  }

  .step {
    label {
      background-color: $color !important;
      border-color: $color !important;
    }

    &.playing {
      &.armed {
        label {
          opacity: 1;
          border-color: lighten($color, 40) !important;
        }
      }
    }
  }
}


ins-track {
  display: block;

  &.soloed {
    /*border: 1px dashed #877a51;
    margin-bottom: 5px;

    .track {
      padding-bottom: 5px;
    }*/
  }

  &.orange {
    @include track($orange);
  }

  &.yellow {
    @include track($yellow);
  }

  &.yellow-green {
    @include track($yellow-green);
  }

  &.green {
    @include track($green);
  }

  &.green-blue {
    @include track($green-blue);
  }

  &.teal {
    @include track($teal);
  }

  &.blue {
    @include track($blue);
  }

  &.dark-blue {
    @include track($dark-blue);
  }

  &.violett {
    @include track($violett);
  }

  &.magenta {
    @include track($magenta);
  }

  &.red {
    @include track($red);
  }

  &.red2 {
    @include track($red2);
  }

  .track-editor {
    display: grid;
    width: 100%;
    align-items: start;
    gap: 15px;
    grid-template-columns: 456px 1fr;
    vertical-align: top;
  }

  .track {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid transparent;
    display: grid;
    grid-template-columns: 220px 40px 40px 100px 1fr;
    grid-column-gap: 15px;

    .steps {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .step {
        label {
          opacity: .1;
          border-width: 3px;
        }

        &.armed {
          label {
            opacity: .5;
          }
        }
        &.playing {
          label {
            opacity: .3;
          }
        }
      }
    }

    &.muted {
      opacity: .5;
      background: #423e3e;
      .steps {
        .step {
          &.playing {
            &.armed {
              label {
                border-color: transparent !important;
                opacity: .3;
              }
            }
          }
        }
      }
    }
  }
}
